<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col header_title">
		<h1>Times-Table Graphics</h1>
		<hr/>
	</div>
	<div class="mdl-cell mdl-cell--8-col mdl-cell-4-col-tablet" id="graphContainer_a">
		<app-svg-chart #mainSvgChart [multFactor]="multiplierFactor" (generateEmitter)="drewChart($event)"
		 [canonicPointsAmmount]="pointsAmmount"></app-svg-chart>
	</div>
	<div class="mdl-cell mdl-cell--4-col mdl-cell-12-col-phone">
		<form class="formA">
			<input name="multiplierFactorRange" [(ngModel)]="multiplierFactor" class="mdl-slider mdl-js-slider" type="range" min="0"
			 max="100" value="2" tabindex="0">

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" name="multiplierFactor" [(ngModel)]="multiplierFactor" type="number" pattern="-?[0-9]*(\.[0-9]+)?"
				 id="sample4">
				<label class="mdl-textfield__label" for="sample4">Multiplier</label>
				<span class="mdl-textfield__error">Input is not a number!</span>
			</div>

			<input name="pointsAmmountRange" [(ngModel)]="pointsAmmount" class="mdl-slider mdl-js-slider" type="range" min="0"
			 max="100" value="20" tabindex="0">

			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" name="pointsAmmount" [(ngModel)]="pointsAmmount" type="number" pattern="-?[0-9]*(\.[0-9]+)?"
				 id="sample4">
				<label class="mdl-textfield__label" for="sample4">Ammount of points</label>
				<span class="mdl-textfield__error">Input is not a number!</span>
			</div>
			<br/>
			<button (click)="calculate()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
				Generate
			</button>
		</form>
		<table 
		*ngIf="false"
		class="mdl-data-table mdl-js-data-table mdl-shadow--2dp results_table">
			<thead>
				<tr>
					<th>From</th>
					<th>To</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of drawResult.points; let i = index">
					<td>{{item.pointA.label}}</td>
					<td>{{getReverseBLabel(i)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>